@import url(https://fonts.googleapis.com/css?family=Poppins:300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic&display=swap);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:regular,italic&display=swap);
@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2#icons") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="_icon-"]:before,
[class*=" _icon-"]:before, ._init .menu-footer__title::before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="_icon-"]:before,
[class*=" _icon-"]:before {
  display: block;
}

._icon-arrow-down:before, ._init .menu-footer__title:before {
  content: "\e900";
}

._icon-arrow-link:before {
  content: "\e901";
}

._icon-cart:before {
  content: "\e902";
}

._icon-favorite:before {
  content: "\e903";
}

._icon-location:before {
  content: "\e904";
}

._icon-phone:before {
  content: "\e905";
}

._icon-search:before {
  content: "\e906";
}

._icon-send:before {
  content: "\e907";
}

._icon-share:before {
  content: "\e908";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Poppins";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Poppins";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #151515;
  font-size: 14px;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: #e5e5e5;
}

._container {
  max-width: 1260px;
  margin: 0 auto;
  background-color: #fff;
}

@media (max-width: 1272px) {
  ._container {
    max-width: 970px;
  }
}

@media (max-width: 991.98px) {
  ._container {
    max-width: none;
    padding: 0 10px;
  }
}

.btn {
  display: inline-flex;
  padding: 0px 0px;
}

.btn._fw {
  width: 100%;
}

.select {
  position: relative;
}

@media (max-width: 991.98px) {
  .select {
    display: none;
  }
}

.select__item {
  position: relative;
}

.select__title {
  cursor: pointer;
  border-right: 1px solid #d1d1d1;
}

.select__value {
  display: flex;
  font-size: 15px;
  font-weight: 700;
  line-height: 150%;
  height: 22px;
  min-width: 170px;
  padding: 0px 25px 0 16px;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.select__value span {
  height: 1.5em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.select__value:before {
  content: "";
  display: inline-block;
  transition: all 0.3s ease 0s;
  width: 11px;
  height: 7px;
  margin: 0px 0px 0px 12px;
  background: url("../img/icons/select.svg") center/100% no-repeat;
}

.select__input {
  width: 100%;
  background-color: transparent;
  height: 100%;
}

.select__options {
  display: none;
  position: absolute;
  top: 34px;
  border-radius: 0 0 12px 12px;
  min-width: 100%;
  left: 0px;
  background-color: #f9f9f9;
  border: 1px solid #d1d1d1;
  border-top: 0;
  font-size: 15px;
  padding: 10px 0px 5px 0px;
}

.select__option {
  cursor: pointer;
  padding: 5px 15px;
  margin: 0px 0px 0px 0px;
}

@media (min-width: 992px) {
  .select__option:hover {
    background: #d9d9d9;
  }
}

.select._active {
  z-index: 5;
}

.select._active .select__value:before {
  transform: rotate(-180deg);
}

.select._active .select__options {
  display: block;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  border-radius: 0 !important;
  width: 286px;
  height: 42px;
  display: block;
  padding: 0px 20px;
  background-color: #f9f9f9;
  color: #a9a9a9;
  font-size: 14px;
}

@media (max-width: 991.98px) {
  .input {
    font-size: 18px;
    width: 100%;
  }
}

.input._focus {
  color: #151515;
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

.checkbox {
  position: relative;
}

.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.checkbox__input:checked + .checkbox__text:before {
  background: #fff url("../img/icons/check.svg") center no-repeat;
}

.checkbox__text {
  display: inline-flex;
  align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: calc(20 / 16);
  cursor: pointer;
}

.checkbox__text:before {
  content: "";
  align-self: flex-start;
  margin: 0px 14px 0px 0px;
  flex: 0 0 20px;
  left: 0;
  top: 0;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.checkbox a {
  color: #fff;
  text-decoration: underline;
}

@media (min-width: 992px) {
  .checkbox a:hover {
    text-decoration: none;
  }
}

.checkbox._error .checkbox__text:before {
  border: 1px solid #ee1212;
}

.options {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.options__item {
  position: relative;
  cursor: pointer;
}

.options__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  left: 0;
  top: 0;
  visibility: hidden;
}

.options__input:checked + .options__text:after {
  transform: scale(1);
}

.options__text {
  display: inline-flex;
  align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: calc(20 / 16);
}

.options__text:before {
  content: "";
  align-self: flex-start;
  margin: 0px 14px 0px 0px;
  flex: 0 0 20px;
  left: 0;
  top: 0;
  border-radius: 50%;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.options__text:after {
  content: "";
  transition: all 0.3s ease 0s;
  transform: scale(0);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #77243a;
  position: absolute;
  left: 5px;
  top: 4px;
}

.rating-block {
  display: table;
  font-size: 0;
}

.rating {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

.rating.edit .star {
  cursor: pointer;
}

.rating .star {
  width: 17px;
  height: 14px;
  display: inline-block;
  position: relative;
  z-index: 3;
}

.rating__line {
  position: absolute;
  width: 85px;
  height: 14px;
  top: 0;
  left: 0;
  background: url("../img/icons/bg_rating.svg") 0 0 no-repeat;
  z-index: 1;
  background-size: 85px 100%;
}

.rating__activeline {
  position: absolute;
  width: 0px;
  height: 14px;
  top: 0;
  left: 0;
  background: url("../img/icons/bg_rating_active.svg") 0 0 no-repeat;
  z-index: 2;
  background-size: 85px 100%;
}

.rating__value {
  display: inline-block;
  color: #1b3139;
  font-size: 14px;
  line-height: 13px;
  vertical-align: middle;
}

.quantity {
  width: 88px;
  height: 40px;
  display: flex;
  border: 1px solid rgba(166, 166, 166, 0.45);
}

.quantity__button {
  flex: 0 0 30px;
  position: relative;
  cursor: pointer;
}

.quantity__button::before, .quantity__button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transition: all 0.3s ease 0s;
  margin: 0px 0px 0px -4.5px;
  background-color: #a6a6a6;
  width: 9px;
  height: 1px;
}

@media (min-width: 991.98px) {
  .quantity__button:hover::before, .quantity__button:hover::after {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.quantity__button_plus::before {
  transform: rotate(-90deg);
}

.quantity__input {
  flex: 1 1 auto;
}

.quantity__input input {
  height: 100%;
  color: #a6a6a6;
  font-size: 12px;
  width: 100%;
  text-align: center;
}

.title {
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #151515;
  background-color: transparent;
}

.link {
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 19px;
  color: #6a983c;
  transition: all 0.3s ease 0s;
}

@media (any-hover: hover) {
  .link:hover {
    text-decoration: underline;
  }
}

.button {
  display: inline-flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  padding: 12px 16px 12px 16px;
  text-align: center;
  font-size: 15px;
  line-height: 22px;
  font-weight: 900;
  min-height: 48px;
  border-radius: 12px;
  white-space: nowrap;
}

.button:before {
  font-size: 6px;
  font-weight: 900;
  margin: 0px 0px 0px 12px;
  transform: rotate(-90deg);
}

.button-top {
  display: inline-flex;
  flex-direction: row-reverse;
  align-items: center;
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
  color: #151515;
  transition: all 0.5s ease 0s;
}

.button-top::before {
  color: #6a983c;
  font-size: 6px;
  margin: 0px 0px 0px 12px;
  transform: rotate(-90deg);
}

@media (any-hover: hover) {
  .button-top:hover {
    color: #6a983c;
  }
}

.slider-arrows {
  display: flex;
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: translate(0px, -50%);
  width: 100%;
  left: 0;
  z-index: 5;
  justify-content: space-between;
}

.slider-arrows::before {
  content: "";
  position: absolute;
  top: -150%;
  left: 0%;
  width: 88px;
  height: 227px;
  background: linear-gradient(90deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  opacity: 0.7;
}

.slider-arrows::after {
  content: "";
  position: absolute;
  top: -150%;
  right: 0%;
  width: 88px;
  height: 227px;
  background: linear-gradient(90deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  opacity: 0.7;
}

.slider-arrow {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: auto;
  border-radius: 12px;
  height: 48px;
  width: 32px;
  background-color: #000;
  font-size: 12px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.slider-arrow_prev {
  border-radius: 0 12px 12px 0;
}

.slider-arrow_prev::before {
  color: #fff;
  transform: rotate(90deg);
}

.slider-arrow_next {
  border-radius: 12px 0 0 12px;
}

.slider-arrow_next::before {
  color: #fff;
  transform: rotate(-90deg);
}

@media (any-hover: hover) {
  .slider-arrow:hover {
    color: #fff;
    background-color: #e89f71;
  }
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 0px 42px 0px;
}

@media (max-width: 479.98px) {
  .top {
    flex-direction: column;
  }
}

ol.counter {
  list-style-type: none;
  counter-reset: item;
}

ol.counter li {
  position: relative;
  padding: 0px 0px 0px 45px;
}

ol.counter li:before {
  counter-increment: item;
  content: counter(item);
  position: absolute;
  left: 0;
  top: 0;
  color: #818181;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  line-height: 26px;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  border: 1px solid #4274bb;
}

.ellipsis {
  display: block;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.es {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.table {
  display: table;
  font-size: 0;
  width: 100%;
}

.trow {
  display: table-row;
}

.cell {
  display: table-cell;
}

.cell.full {
  width: 100%;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

body.ie ._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body.ie ._ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

._more-content {
  transition: all 0.3s ease 0s;
  overflow: hidden;
}

._more-link {
  cursor: pointer;
}

._more-link span {
  font-style: normal;
}

._more-link span:first-child {
  display: block;
}

._more-link span:last-child {
  display: none;
}

._more-link._active span {
  font-style: normal;
}

._more-link._active span:first-child {
  display: none;
}

._more-link._active span:last-child {
  display: block;
}

#map {
  background: url("../img/icons/loading.gif") center/50px no-repeat;
}

._swiper {
  overflow: hidden;
}

._swiper .swiper-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  position: relative;
}

._swiper.swiper-container-vertical .swiper-wrapper {
  flex-direction: column;
}

._swiper.swiper-container-autoheight .swiper-wrapper {
  align-items: flex-start;
}

.swiper-container-initialized .swiper-slide {
  flex-shrink: 0;
}

.swiper-container-android .swiper-slide,
.swiper-container-android .swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

._tabs-block {
  display: none;
}

._tabs-block._active {
  display: block;
}

.mirror {
  transform: scale(-1, 1);
}

.nicescroll-rails {
  z-index: 1000 !important;
}

._custom-scroll {
  position: fixed;
  right: 0;
  top: 0;
  width: 3px;
  height: 100%;
  z-index: 1000;
}

._custom-scroll__line {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3px 0 0 3px;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
}

.header__top {
  padding: 16px 45px;
  border-bottom: 1px solid #15151510;
}

@media (max-width: 991.98px) {
  .header__top {
    padding: 15px 15px;
  }
}

.header__bottom {
  margin: 40px 0px 48px 0px;
  padding: 0px 45px;
}

@media (max-width: 991.98px) {
  .header__bottom {
    margin: 20px 0px 20px 0px;
    padding: 0px 15px;
  }
}

.header__menu {
  padding: 16px 45px;
}

@media (max-width: 991.98px) {
  .header__menu {
    padding: 1px;
  }
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top__column-left {
  display: flex;
  align-items: flex-start;
}

@media (max-width: 479.98px) {
  .top__column-left {
    flex-direction: column;
  }
}

.top__column-right {
  display: flex;
  align-items: center;
}

@media (max-width: 991.98px) {
  .top__column-right {
    padding: 5px 0px;
    margin: 25px 0px 0px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
}

.top__left {
  font-family: "Open Sans";
  font-size: 12px;
  line-height: 16px;
  margin: 0px 33px 0px 0px;
  transition: all 0.3s ease 0s;
}

@media (any-hover: hover) {
  .top__left:hover {
    text-decoration: underline;
  }
}

.top__chat {
  display: inline-block;
  color: #6a983c;
}

@media (max-width: 991.98px) {
  .top__chat {
    font-size: 20px;
    margin: 0px 30px 15px 10px;
  }
}

.top__phone {
  color: #151515;
  white-space: nowrap;
}

@media (max-width: 479.98px) {
  .top__phone {
    margin: 0px 0px 10px 0px;
  }
}

.top__site {
  color: #151515;
  white-space: nowrap;
}

.top__link {
  display: inline-block;
  font-family: "Open Sans";
  font-size: 12px;
  line-height: 16px;
  color: #6a983c;
  margin: 0px 0px 0px 38px;
  transition: all 0.3s ease 0s;
}

@media (max-width: 991.98px) {
  .top__link {
    margin: 0px 30px 15px 10px;
    font-size: 20px;
  }
}

@media (any-hover: hover) {
  .top__link:hover {
    text-decoration: underline;
  }
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottom__logo {
  flex: 0 1 30%;
  margin: 0px 5px 0px 0px;
  transition: all 0.5s ease 0s;
}

.bottom__logo img {
  max-width: 100%;
}

@media (max-width: 991.98px) {
  .bottom__logo {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.bottom__search {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  width: 100%;
  background-color: #f9f9f9;
  border: 1px solid #d1d1d1;
  border-radius: 12px;
}

@media (max-width: 991.98px) {
  .bottom__search {
    max-width: none;
    margin: 0px 0px 20px 0px;
    justify-content: space-between;
    overflow: hidden;
  }
}

.bottom__icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom__user {
  margin: 0px 40px 0px 5px;
  position: relative;
  display: block;
  font-size: 20px;
  color: #151515;
  transition: color 0.3s ease 0s;
}

@media (any-hover: hover) {
  .bottom__user:hover {
    color: #e5704b;
  }
}

@media (max-width: 767.98px) {
  .bottom__user {
    margin: 0px 20px 0px 10px;
  }
}

.bottom__user::before {
  font-weight: 700;
}

.bottom__cart {
  position: relative;
  display: block;
  font-size: 20px;
  color: #151515;
  transition: color 0.3s ease 0s;
}

@media (any-hover: hover) {
  .bottom__cart:hover {
    color: #e5704b;
  }
}

.bottom__cart::before {
  font-weight: 700;
}

@media (max-width: 991.98px) {
  .search__input {
    flex: 1 1 auto;
  }
}

.search__icon {
  flex: 0 0 30px;
  background-color: transparent;
  font-size: 15px;
  transform: scaleX(-1);
}

@media (max-width: 991.98px) {
  .search__icon {
    flex: 0 0 40px;
    font-size: 20px;
  }
}

.menu {
  background-color: #f9f9f9;
}

@media (max-width: 991.98px) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: auto;
    top: 0;
    left: -100%;
    background-color: #fcf8f3;
    transition: left 0.3s ease 0s;
    padding: 70px 15px 30px 15px;
    z-index: 20;
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 50px;
    top: 0;
    left: -100%;
    transition: left 0.3s ease 0s;
    background-color: #fcf8f3;
    z-index: 20;
  }
  .menu__body._active {
    left: 0;
  }
  .menu__body._active::before {
    left: 0;
  }
}

@media (min-width: 991.98px) {
  .menu__list {
    display: flex;
    flex-wrap: wrap;
  }
}

.menu__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0px 48px 0 0;
  padding: 5px 0px;
  position: relative;
}

@media (any-hover: hover) {
  .menu__item:hover .menu__sub-list {
    transform: translate(0px, 0px);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .menu__item:hover .menu__arrow {
    transform: rotate(-180deg);
  }
  .menu__item:hover .menu__arrow,
  .menu__item:hover .menu__link {
    color: #e5704b;
  }
}

@media (max-width: 1272px) {
  .menu__item {
    margin: 0px 15px 0px 0px;
  }
}

@media (min-width: 991.98px) {
  .menu__item._hover .menu__sub-list {
    transform: translate(0px, 0px);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .menu__item._hover .menu__arrow {
    transform: rotate(-180deg);
  }
  .menu__item._hover .menu__arrow,
  .menu__item._hover .menu__link {
    color: #e5704b;
  }
}

@media (max-width: 991.98px) {
  .menu__item {
    margin: 0px 0px 15px 0px;
  }
  .menu__item:last-child {
    margin-bottom: 0;
  }
}

.menu__link {
  font-weight: 500;
  color: inherit;
  font-size: 15px;
  transition: color 0.3s ease 0s;
}

@media (max-width: 991.98px) {
  .menu__link {
    font-size: 24px;
    font-weight: 600;
  }
}

.menu__arrow {
  margin: 0px 0px 0px 5px;
  transition: all 0.3s ease 0s;
  font-size: 5px;
  color: #6a983c;
}

@media (max-width: 991.98px) {
  .menu__arrow {
    font-size: 14px;
  }
  .menu__arrow._active {
    transform: rotate(-180deg);
  }
}

.menu__sub-list {
  position: relative;
  background-color: #f9f9f9;
  padding: 15px;
  flex: 1 1 100%;
}

@media (min-width: 991.98px) {
  .menu__sub-list {
    opacity: 0;
    transition: all 0.3s ease 0s;
    transform: translate(0px, 10px);
    visibility: hidden;
    min-width: 200px;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 100%;
    z-index: 5;
  }
}

@media (max-width: 991.98px) {
  .menu__sub-list {
    margin: 10px -15px 0px -15px;
  }
}

.menu__sub-item:not(:last-child) {
  margin: 0px 0px 5px 0px;
}

@media (max-width: 991.98px) {
  .menu__sub-item:not(:last-child) {
    margin: 0px 0px 10px 0px;
  }
}

.menu__sub-link {
  color: #151515;
  line-height: 120%;
}

@media (any-hover: hover) {
  .menu__sub-link:hover {
    text-decoration: underline;
  }
}

@media (max-width: 991.98px) {
  .menu__sub-link {
    font-size: 18px;
  }
}

.icon-menu {
  display: none;
  background-color: transparent;
}

@media (max-width: 991.98px) {
  .icon-menu {
    display: block;
    position: absolute;
    top: 13px;
    right: 25px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 50;
    transition: color 0.3s ease 0s;
  }
}

@media (max-width: 991.98px) and (any-hover: hover) {
  .icon-menu:hover span {
    background-color: #e5704b;
  }
}

@media (max-width: 991.98px) {
  .icon-menu span {
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #151515;
  }
  .icon-menu span:first-child {
    top: 0px;
  }
  .icon-menu span:last-child {
    top: auto;
    bottom: 0px;
  }
  .icon-menu._active span {
    transform: scale(0);
  }
  .icon-menu._active span:first-child {
    transform: rotate(-45deg);
    top: calc(50% - 1px);
  }
  .icon-menu._active span:last-child {
    transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }
}

.footer__body {
  padding: 64px 45px;
}

@media (max-width: 991.98px) {
  .footer__body {
    padding: 30px 30px;
  }
}

@media (max-width: 767.98px) {
  .footer__body {
    padding: 20px 15px;
  }
}

.footer__menu {
  margin: 0px 0px 48px 0px;
}

@media (max-width: 991.98px) {
  .footer__menu {
    margin: 0px 0px 30px 0px;
  }
}

@media (max-width: 767.98px) {
  .footer__menu {
    margin: 0px 0px 25px 0px;
  }
}

.footer__tags {
  padding: 0px 70px 0px 0px;
  margin: 0px 0px 48px 0px;
}

@media (max-width: 991.98px) {
  .footer__tags {
    padding: 0;
    margin: 0px 0px 30px 0px;
  }
}

@media (max-width: 767.98px) {
  .footer__tags {
    margin: 0px 0px 15px 0px;
  }
}

.footer__copy {
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 19px;
  color: #151515;
}

@media (min-width: 767.98px) {
  .menu-footer {
    display: flex;
    align-items: flex-start;
  }
}

.menu-footer__column {
  margin: 0px 0px 15px 0px;
}

@media (min-width: 767.98px) {
  .menu-footer__column {
    flex: 0 1 25%;
  }
}

.menu-footer__title {
  cursor: default;
}

@media (min-width: 767.98px) {
  .menu-footer__title {
    margin: 0px 0px 16px 0px;
  }
}

._init .menu-footer__title {
  display: flex;
  width: 100%;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

._init .menu-footer__title::before {
  font-size: 12px;
  transition: transform 0.3s ease 0s;
}

.menu-footer__title._active::before {
  transform: rotate(-180deg);
}

.menu-footer__list li:not(:last-child) {
  margin: 0px 0px 16px 0px;
}

@media (max-width: 767.98px) {
  .menu-footer__list {
    padding: 15px 0px 0px 0px;
  }
}

.tags-footer__title {
  margin: 0px 0px 16px 0px;
}

.tags-footer__box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.tags-footer__item {
  padding: 4px 10px;
  margin: 0px 16px 16px 0px;
  background-color: #f5f5f5;
  border-radius: 12px;
  color: #151515;
}

.tags-footer__item span {
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
}

@media (max-width: 767.98px) {
  .tags-footer__item {
    margin: 0px 5px 5px 0px;
  }
}

@media (any-hover: hover) {
  .tags-footer__item:hover {
    transform: scale(1.05);
  }
}

.page {
  flex: 1 1 auto;
}

.banner__body {
  display: flex;
  padding: 64px 45px;
}

@media (max-width: 991.98px) {
  .banner__body {
    flex-direction: column;
    padding: 30px 15px;
  }
}

.banner__aside {
  flex: 0 1 18%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0px 0px 20px 0px;
}

@media (max-width: 991.98px) {
  .banner__aside {
    flex: 1 1 100%;
  }
}

.banner__title {
  margin: 0px 0px 16px 0px;
}

.banner__list {
  margin: 0px 0px 48px 0px;
}

@media (max-width: 991.98px) {
  .banner__list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0px 0px 20px 0px;
  }
}

.banner__list li:not(:last-child) {
  margin: 0px 20px 12px 0px;
}

.banner__link {
  text-decoration: underline;
  transition: all 0.5s ease 0s;
}

@media (any-hover: hover) {
  .banner__link:hover {
    color: #e6704b;
  }
}

.banner__button {
  color: #151515;
  background: #f5f5f5;
  transition: all 0.5s ease 0s;
}

@media (any-hover: hover) {
  .banner__button:hover {
    color: #6a983c;
  }
}

.banner__content {
  flex: 1 1 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
}

@media (max-width: 991.98px) {
  .banner__content {
    justify-content: center;
  }
}

.banner__item {
  margin: 0px 0px 20px 32px;
}

@media (max-width: 767.98px) {
  .banner__item {
    margin: 0px 10px 20px 10px;
  }
}

.item-banner {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 400px;
  height: 280px;
  padding: 45px 10px 32px 33px;
  background: #f4f8ec;
  border-radius: 12px;
  overflow: hidden;
}

@media (max-width: 1272px) {
  .item-banner {
    width: 300px;
    height: 200px;
  }
}

@media (max-width: 767.98px) {
  .item-banner {
    width: 100%;
  }
}

.item-banner__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.item-banner__image img {
  max-width: 100%;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.item-banner__subtitle {
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  color: #6a983c;
  margin: 0px 0px 8px 0px;
}

.item-banner__title {
  position: relative;
  z-index: 2;
  display: inline-block;
  font-size: 22px;
  line-height: 33px;
  font-weight: 600;
  color: #151515;
  margin: 0px 0px 95px 0px;
}

@media (max-width: 1272px) {
  .item-banner__title {
    margin: 0px 0px 40px 0px;
  }
}

.item-banner__button {
  position: relative;
  border: 2.5px solid #6a983c;
  background-color: transparent;
  z-index: 2;
  transition: all 0.5s ease 0s;
}

.item-banner__button::before {
  color: #6a983c;
}

@media (max-width: 1272px) {
  .item-banner__button {
    padding: 8px 10px 8px 10px;
  }
}

@media (any-hover: hover) {
  .item-banner__button:hover {
    color: #6a983c;
  }
}

.selling__content {
  flex: 1 1 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
}

@media (max-width: 1272px) {
  .selling__content {
    justify-content: center;
  }
}

.selling__item {
  margin: 0px 0px 20px 32px;
}

@media (max-width: 767.98px) {
  .selling__item {
    margin: 0px 10px 20px 10px;
  }
}

.item-selling {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 260px;
  height: 323px;
  padding: 16px;
  border: 1px solid #d1d1d1;
  border-radius: 12px;
}

.item-selling__image {
  position: relative;
  width: 227px;
  height: 180px;
  border-radius: 12px;
  margin: 0px 0px 16px 0px;
  overflow: hidden;
}

.item-selling__image img {
  max-width: 100%;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.item-selling__sale {
  position: absolute;
  top: 28px;
  left: 36px;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #6a983c;
  background: #f4f8ec;
  border-radius: 12px;
  padding: 0px 8px;
}

.item-selling__title {
  display: inline-block;
  color: #151515;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  margin: 0px 0px 4px 0px;
  transition: all 0.3s ease 0s;
}

@media (any-hover: hover) {
  .item-selling__title:hover {
    color: #4b7522;
  }
}

.item-selling__text {
  font-family: "Open Sans";
  font-size: 12px;
  line-height: 16px;
  color: #575757;
  margin: 0px 0px 16px 0px;
}

.item-selling__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.item-selling__price_new {
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
}

.item-selling__price_old {
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  text-decoration-line: line-through;
  color: #a9a9a9;
}

.item-selling__button {
  font-weight: bold;
  font-size: 15px;
  line-height: 22px;
  color: #fff;
  background-color: #6a983c;
  padding: 6px 12px;
  min-height: 36px;
  border: 2px solid #46760a;
  border-radius: 12px;
  transition: background-color 0.5s ease 0s;
}

@media (any-hover: hover) {
  .item-selling__button:hover {
    background-color: #4b7522;
  }
}

.customers__body {
  border: 1px solid #f9f9f9;
  padding: 69px 0px 26px 0px;
}

@media (max-width: 991.98px) {
  .customers__body {
    padding: 49px 0px 26px 0px;
  }
}

@media (max-width: 767.98px) {
  .customers__body {
    padding: 29px 0px 26px 0px;
  }
}

.customers__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 45px;
  margin: 0px 0px 42px 0px;
}

@media (max-width: 479.98px) {
  .customers__top {
    flex-direction: column;
  }
}

.customers__title {
  margin: 0px 0px 15px 0px;
}

.customers__sliderbox {
  position: relative;
}

.slide-customers {
  position: relative;
  padding: 0px 0px 50px;
}

.slide-customers__box {
  border: 1px solid #f1f1f1;
  border-radius: 12px;
  padding: 24px 32px;
  text-align: center;
}

.slide-customers__text {
  max-width: 305px;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  margin: 0px 0px 24px 0px;
}

.slide-customers__name {
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #a9a9a9;
  margin: 0px 0px 16px 0px;
}

.slide-customers__foto {
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 48px;
  height: 48px;
  z-index: 2;
}

.slide-customers__foto img {
  max-width: 100%;
}

@media (max-width: 650px) {
  .slide-customers__foto {
    bottom: 17%;
  }
}

.headline__body {
  padding: 70px 45px;
}

@media (max-width: 991.98px) {
  .headline__body {
    padding: 40px 45px;
  }
}

@media (max-width: 767.98px) {
  .headline__body {
    padding: 30px 0px;
  }
}

@media (max-width: 600px) {
  .headline__body {
    padding: 30px 0px;
  }
}

.headline__title {
  margin: 0px 0px 15px 0px;
}

.headline__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.headline__item {
  margin: 0px 32px 20px 0px;
}

.blog__body {
  padding: 65px 45px;
}

@media (max-width: 991.98px) {
  .blog__body {
    padding: 40px 30px;
  }
}

@media (max-width: 767.98px) {
  .blog__body {
    padding: 10px 15px 30px 15px;
  }
}

.content-blog {
  display: grid;
  grid-template: auto auto auto / 469px 269px 1fr;
  column-gap: 32px;
  row-gap: 20px;
}

@media (max-width: 1272px) {
  .content-blog {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
  }
}

.content-blog__main {
  grid-row: span 3;
}

@media (max-width: 1272px) {
  .content-blog__main {
    margin: 0px 0px 30px 0px;
  }
}

@media (max-width: 767.98px) {
  .content-blog__main {
    margin: 0px 0px 20px 0px;
  }
}

.content-blog__middle {
  grid-row: span 3;
}

@media (max-width: 1272px) {
  .content-blog__middle {
    margin: 0px 0px 30px 0px;
  }
}

@media (max-width: 767.98px) {
  .content-blog__middle {
    margin: 0px 0px 20px 0px;
  }
}

@media (max-width: 1272px) {
  .content-blog__small {
    margin: 0px 0px 20px 0px;
  }
}

.main-blog {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 24px;
  border-radius: 12px;
  overflow: hidden;
  min-height: 469px;
}

@media (max-width: 991.98px) {
  .main-blog {
    min-height: 350px;
  }
}

@media (max-width: 767.98px) {
  .main-blog {
    width: 100%;
  }
}

@media (max-width: 479.98px) {
  .main-blog {
    min-height: 250px;
  }
}

.main-blog__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.main-blog__image img {
  max-width: 100%;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.main-blog__label {
  position: absolute;
  z-index: 3;
}

.main-blog__title {
  position: relative;
  display: inline-block;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  max-width: 380px;
  color: #fff;
  margin: 0px 0px 8px 0px;
  z-index: 3;
  transition: all 0.3s ease 0s;
}

@media (max-width: 991.98px) {
  .main-blog__title {
    max-width: 300px;
  }
}

@media (any-hover: hover) {
  .main-blog__title:hover {
    text-decoration: underline;
  }
}

.main-blog__author_image {
  position: relative;
  height: 32px;
  flex: 0 0 32px;
  margin: 0px 8px 0px 0px;
  border-radius: 50%;
  overflow: hidden;
}

.main-blog__author_image img {
  max-width: 100%;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.label-blog {
  top: 24px;
  left: 24px;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #6a983c;
  padding: 0px 8px;
  background: #f4f8ec;
  border-radius: 12px;
}

.author {
  position: relative;
  z-index: 3;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.author_name {
  font-family: "Open Sans";
  font-size: 12px;
  line-height: 16px;
  margin: 0px 16px 0px 0px;
  color: #fff;
}

.author_time {
  font-family: "Open Sans";
  font-size: 12px;
  line-height: 16px;
  color: #fff;
}

.middle-blog {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

@media (max-width: 767.98px) {
  .middle-blog {
    width: 100%;
    align-items: center;
    text-align: center;
  }
}

.middle-blog__image {
  margin: 0px 0px 24px 0px;
  max-width: 269px;
}

.middle-blog__image img {
  max-width: 100%;
}

.middle-blog__label {
  margin: 0px 0px 8px 0px;
}

.middle-blog__title {
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  margin: 0px 0px 16px 0px;
  color: #151515;
  max-width: 269px;
  transition: all 0.3s ease 0s;
}

@media (max-width: 991.98px) {
  .middle-blog__title {
    max-width: 230px;
  }
}

@media (any-hover: hover) {
  .middle-blog__title:hover {
    text-decoration: underline;
  }
}

.middle-blog__author {
  margin: 0px 0px 10px 0px;
}

@media (max-width: 767.98px) {
  .middle-blog__author {
    justify-content: center;
    align-items: center;
  }
}

.middle-blog__author_name {
  color: #151515;
}

.middle-blog__author_time {
  color: #151515;
}

.small-blog {
  display: inline-grid;
  grid-template: auto auto / 1fr 96px;
  column-gap: 48px;
  min-width: 320px;
}

@media (max-width: 991.98px) {
  .small-blog {
    column-gap: 20px;
  }
}

@media (max-width: 479.98px) {
  .small-blog {
    min-width: 280px;
    grid-template: auto auto / 1fr 50px;
  }
}

.small-blog__title {
  display: inline-block;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #151515;
  max-width: 220px;
  transition: all 0.3s ease 0s;
}

@media (max-width: 479.98px) {
  .small-blog__title {
    font-size: 14px;
    max-width: 180px;
  }
}

@media (any-hover: hover) {
  .small-blog__title:hover {
    text-decoration: underline;
  }
}

.small-blog__author_name {
  color: #151515;
}

.small-blog__author_time {
  color: #151515;
}

.small-blog__image {
  grid-row: span 2;
}

.small-blog__image img {
  max-width: 100%;
}
